* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 36, 87);
    color: rgb(136, 137, 158);
    font-size: 50px;
}

.btn {
    font-size: 20px;
    padding: 10px;
    border: 1px brown solid;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 3px 8px rgba(0, 0, 200, 1);
    background-color: rgba(0, 0, 50, .8);
    color: rgba(255, 255, 255, 0.8);
}

.btn:hover {
    transition: .2s;
    transform: translateY(3px);
    background-color: rgba(100, 100, 250, .8);
    text-shadow: none;
    border: 0px brown;
    cursor: pointer;
}

.container {
    max-width: 500px;
    border: 8px brown solid;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 15px 15px 20px 10px rgba(0, 0, 100, .7);
}

#display-container {
    font-size: 30px;
    color: rgba(200, 200, 200, .8);
    padding: 5px 10px;
    height: 80px;
    gap: 5px;
    border: 2px brown solid;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 150, 0.8);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

#display-result {
    font-size: 15px;
    height: 20px;
}

.number-container {
    gap: 7px 10px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    "clear delete modulo divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero dot equals";
}

.digits:hover {
    background-color: rgba(100, 100, 250, .8);
}

.operators:hover {
    background-color: rgba(0, 200, 255, .8);
}

.eq:hover {
    background-color: rgba(10, 200, 150, .8);
}

.clrdel {
    font-size: 16px;
}

.clrdel:hover {
    background-color: rgba(200, 0, 0, .8);
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#add {
    grid-area: add;
}

#subtract {
    grid-area: subtract;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: divide;
}

#dot {
    grid-area: dot;
}

#clear {
    grid-area: clear;
}

#modulo {
    grid-area: modulo;
}

#equals {
    grid-area: equals;
}